<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="ronaldo1">
    <classes>
      <class name="daddy.Testng2"/>
      <class name="daddy.Testng1"/>
      <class name="daddy.NewTest"/>
      <class name="daddy.NewTest1"/>
      <class name="daddy.Mydata"/>
    </classes>
  </test> <!-- ronaldo1 -->
</suite> <!-- Suite -->
